@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #212121;
  padding: 1.5rem;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100%;

}

.header {
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-siteName {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
}

.nav-siteName a {
  text-decoration: none;
  color: #fff;
}

.shopping-cart-container{
  width: 100%;
}

#cart-icon {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
}
#close-icon{
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: black;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
}

#shopping-cart{
  display: none;
  background-color: white;
  width: 100%;
  height: 100vh;
  max-width: 500px;
  float: right;
}

.cart-title{
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
}

/*
#cart{
  display: none;
  background-color: white;
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  float: right;
}
*/




.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-input {
  width: 80%;
  max-width: 500px;
  height: 30px;
  padding: 17px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px -18px lightgrey;
  color: black;
}

.search-input:hover {
  box-shadow: 0px 0px 20px -5px;
}

.search-input:focus {
  box-shadow: 0px 0px 20px -5px;
}

.search-btn {
  cursor: pointer;
}

.content-container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  
}




#result {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-content: center;
  gap: 25px;
  margin-bottom: 100px;
  margin-top: 20px;
}

.content-container .card {
  position: relative;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  line-height: 20px;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 300px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.content-container .card .card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 100px 10px 5px;
  background-image: linear-gradient(
    180deg,
    rgba(51, 55, 69, 0),
    rgba(16, 21, 40, 0.95)
  );
  transition: all 0.5s ease;
}

.content-container .card .card-content .card-header {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container .card .card-content .card-header .movieTitle {
  font-weight: 600;
}

.content-container .card .card-content .card-header .year_moreInfoBtn {
  display: flex;
  justify-content: space-between;
}
.content-container .card .card-content .card-header .yearText {
  color: #12efec;
}
.content-container .card .card-content .moreInfoBtn {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  transition: all 0.5s ease;
  margin-left: 28px;
  display: none;
  
}

.content-container .card .card-content .price {
  display: flex;
  justify-content: space-between;
  max-height: 0;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: all 0.5s ease;
}

.content-container .card .card-content .buy-btn {
  padding-left: 7px;
  padding-right: 7px;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}

.content-container .card:hover {
  cursor: pointer;
}

.content-container .card:hover .card-content {
  background-image: linear-gradient(180deg, rgba(51, 55, 69, 0), #101528 48%);
}

.content-container .card:hover .buy-btn {
  background-color: #0091ea;
  border-color: #0091ea;
}

.content-container .card:hover .card-content .card-header .movieTitle {
  margin-bottom: 10px;
}

.content-container .card:hover .price {
  max-height: 200px;
  opacity: 1;
  padding: 8px 0;
}

.content-container .card:hover .moreInfoBtn {
  display: block;
  
}

@media (max-width: 1000px) {
  #result {
    grid-template-columns: repeat(5, 1fr);
  }

  .searchBar {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  #result {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  #result {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  #result {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 350px) {
  #result {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav-siteName a{
    display: none;
  }
}
