@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #1e1e2e;
  padding: 1.5rem;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  max-width: 1556px;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-siteName {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
}

.nav-siteName a {
  text-decoration: none;
  color: #fff;
}

#cart-icon {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
}
#count-label {
  display: none;
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #8282ff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.shopping-cart-container {
  position: absolute;
  width: 100%;

  background-color: #0009;
}
#shopping-cart {
  background-color: white;
  color: black;
  z-index: 99 !important;
  height: 100vh;
  width: 0;
  max-width: 500px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  transition: width 0.5s ease-in-out;
}

.cart-top-section {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#close-icon {
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.cart-title-wrapper {
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.shopping-cart-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
}

#cart-empty-text {
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 20px;
  font-weight: 600;
}
#cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.item {
  box-sizing: border-box;
  width: 100%;
  max-width: 440px;
  height: 100%;
  max-height: 173px;
  padding: 10px;
  background: transparent;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.item-content {
  width: 100%;
  color: black;
}

.item-img-text-wrapper {
  display: flex;
  gap: 20px;
}

.item-img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 300px;
  display: flex;
  align-items: center;
}

.item-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-removeBtn {
  display: flex;
  justify-content: space-between;
}

#remove-item-btn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  margin-right: 10px;
}
.item-description {
  font-size: 12px;
}

.item-price {
  display: flex;
  justify-content: right;
  bottom: 0;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  margin-top: 5px;
}

hr {
  background-color: black;
  margin-top: 40px;
  width: 100%;
  max-width: 440px;
  height: 3px;
}

#cart-bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  padding: 10px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.cart-total-title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
}

#cart-total-price {
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
}

/*Checkout button in cart*/
.checkout_container {
  background-color: #e7e7e7;
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 400px;
  height: 100px;
  position: relative;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.checkout_container.active {
  transform: scale(1.03);
  width: 100%;

  transform: translateX(-50%);
}

.checkout_container.active .checkout_left-side {
  width: 100%;
}

.checkout_left-side {
  background-color: #5de2a3;
  width: 130px;
  height: 100%;
  border-radius: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.checkout_right-side {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.checkout_right-side:hover {
  background-color: #f9f7f9;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.new {
  font-size: 23px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 20px;
}

.checkout-card {
  width: 70px;
  height: 46px;
  background-color: #c7ffbc;
  border-radius: 6px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.checkout_card-line {
  width: 65px;
  height: 13px;
  background-color: #80ea69;
  border-radius: 2px;
  margin-top: 7px;
}

.checkout_buttons {
  width: 8px;
  height: 8px;
  background-color: #379e1f;
  box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
  border-radius: 50%;
  margin-top: 5px;
  transform: rotate(90deg);
  margin: 10px 0 0 -30px;
}

.checkout_container.active .checkout-card {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.checkout_container.active .post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
  }
}

.post {
  width: 63px;
  height: 75px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 10px;
  top: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.post-line {
  width: 47px;
  height: 9px;
  background-color: #545354;
  position: absolute;
  border-radius: 0px 0px 3px 3px;
  right: 8px;
  top: 8px;
}

.post-line:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: #757375;
  top: -8px;
}

.screen {
  width: 47px;
  height: 23px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 8px;
  border-radius: 3px;
}

.numbers {
  width: 12px;
  height: 12px;
  background-color: #838183;
  box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 52px;
}

.numbers-line2 {
  width: 12px;
  height: 12px;
  background-color: #aaa9ab;
  box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 68px;
}

@keyframes slide-post {
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
}

.dollar {
  position: absolute;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  color: #4b953b;
  text-align: center;
}

.checkout_container:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Search bar*/
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #1e1e2e;
  padding: 20px;
  border-radius: 40px;
  width: 80%;
  max-width: 1000px;
  height: 70px;
}

.search-input:hover,
.search-input:focus {
  box-shadow: 0em 5px 2em #606060;
  background-color: #f0eeee;
}

.search-input::placeholder {
  font-weight: 100;
  color: #acacac;
}

.search-btn{
  height: 70px;
  width: 70px;
  padding: 20px;
  border-radius: 50%;
}

.search-btn i{
  font-size: 22px;
  color: #1e1e2e;
}

.search-btn:hover{
  cursor: pointer;
  box-shadow: 0em 5px 2em #606060;
  background-color: #f0eeee;
}
/*container for the content loaded from api*/
.content-container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

/*Content loaded from API*/
#result {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-content: center;
  gap: 25px;
  margin-bottom: 100px;
  margin-top: 20px;
}

/*Card for the movies*/
.content-container .card {
  position: relative;
  font-size: 14px;

  border-radius: 0.4rem;
  line-height: 20px;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 300px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.content-container .card .card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 100px 10px 5px;
  background-image: linear-gradient(
    180deg,
    rgba(51, 55, 69, 0),
    rgba(16, 21, 40, 0.95)
  );
  transition: all 0.5s ease;
}

.content-container .card .card-content .card-header {
  padding: 8px 0;
  width: 100%;
  display: flex;
}

.content-container .card .card-content .card-header .movieTitle {
  font-weight: 600;
}

.content-container .card .card-content .card-header .yearText {
  color: #12efec;
}
.content-container .card .card-content .moreInfoBtn {
  font-size: 12px;
  position: absolute;
  right: 0;
  margin-right: 7px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  transition: all 0.5s ease;
  display: none;
}

.content-container .card .card-content .price {
  display: flex;
  justify-content: space-between;
  max-height: 0;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: all 0.5s ease;
}

.content-container .card .card-content #buy-btn {
  padding-left: 7px;
  padding-right: 7px;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}

.content-container .card:hover {
  cursor: pointer;
}
.content-container .card:hover .card-content,
.card-content:hover {
  background-image: linear-gradient(180deg, rgba(51, 55, 69, 0), #101528 80%);
}

.content-container .card:hover .card-header,
.card-content:hover .card-header {
  margin-bottom: 10px;
}

.content-container .card:hover .right-content,
.card-content:hover .right-content {
  display: flex;
  margin-top: 10px;
  margin-bottom: -5px;
}
.content-container .card:hover .moreInfoBtn,
.card-content:hover .moreInfoBtn {
  display: block;
}
.content-container .card:hover #buy-btn,
.card-content:hover #buy-btn {
  background-color: #0091ea;
  border-color: #0091ea;
}

.content-container .card:hover .price,
.card-content:hover .price {
  max-height: 200px;
  opacity: 1;
  padding: 8px 0;
}

@media (max-width: 1200px) {
  #result {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1000px) {
  #result {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 800px) {
  #result {
    grid-template-columns: repeat(4, 1fr);
  }
  #shopping-cart {
    max-width: 100%;
  }

  .shopping-cart-content {
    width: 100%;
    max-width: 600px;
  }

  .item {
    max-width: 90%;
  }

  hr{
    max-width: 100%;
  }

  #cart-bottom-section {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .checkout_container {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  #result {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  #result {
    grid-template-columns: repeat(2, 1fr);
  }

  .shopping-cart-content {
    width: 100%;
    max-width: 350px;
  }

  .item {
    max-width: 100%;
    max-height: 200px;
  }

  .item-description {
    font-size: 12px;
  }

  .item-price {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    margin-top: -15px;
  }



  #cart-bottom-section {
    width: 120%;
    max-width: 360px;
  }
}

@media (max-width: 350px) {
  #result {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav-siteName a {
    display: none;
  }
}
